* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
  max-width: 90%;
  color: gray;
}
.header {
  text-align: center;
}
.header h2{
  color: #fff;
  text-shadow: 2px 2px 5px green;
}

.side-content{
  width: 20%;
  height: 100vh;
  position: absolute;
  background-color: #f0f0f0;
  color: black;
  margin-top: 31px;
  padding: 20px;
}
.main-content{
  width: 100%;
  padding-left: 23%;
}
.game-cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.game-card {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-bottom: 20px solid tomato;
  padding-bottom: 20px;
}
.game-card img {
  width: 100%;
  height: auto;
}
.loading {
  text-align: center;
  margin: 15% auto;
}
.search-div{
  text-align: center;
  margin-top: 20px;
}

input[type=search] {
  width: 40%;
  padding: 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  text-align: center;
}

.no-outline:focus {
  outline: none;
}
.group-filter{
  margin-top: 12px;
}
#group{
  width: 100%;
  padding: 5px;
}
.level-filter{
  margin-top: 12px;
}
#level{
  width: 100%;
  padding: 5px;
}

@media only screen and (max-width: 414px) {
  /* For mobile phones: */
  .game-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .side-content{
    width: 30%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    color: black;
    margin-top: 31px;
    padding: 5px;
  }
  .main-content{
    width: 100%;
    padding-left: 32%;
  }

}